-- Gui to Lua
-- Version: 3.2

-- Instances:

local UI = Instance.new("ScreenGui")
local Main = Instance.new("Frame")
local UICorner = Instance.new("UICorner")
local TextLabel = Instance.new("TextLabel")
local UICorner_2 = Instance.new("UICorner")
local Freeze = Instance.new("TextButton")
local UICorner_3 = Instance.new("UICorner")
local Statue = Instance.new("TextButton")
local UICorner_4 = Instance.new("UICorner")
local Hats = Instance.new("TextButton")
local UICorner_5 = Instance.new("UICorner")
local Weapons = Instance.new("TextButton")
local UICorner_6 = Instance.new("UICorner")
local Crates = Instance.new("TextButton")
local UICorner_7 = Instance.new("UICorner")
local Blackhole = Instance.new("TextButton")
local UICorner_8 = Instance.new("UICorner")
local TextLabel_2 = Instance.new("TextLabel")
local NextPage = Instance.new("TextButton")
local Page2 = Instance.new("Frame")
local UICorner_9 = Instance.new("UICorner")
local TextLabel_3 = Instance.new("TextLabel")
local UICorner_10 = Instance.new("UICorner")
local LagServer = Instance.new("TextButton")
local UICorner_11 = Instance.new("UICorner")
local Back = Instance.new("TextButton")

--Properties:

UI.Name = "UI"
UI.Parent = game.CoreGui
UI.ZIndexBehavior = Enum.ZIndexBehavior.Sibling

Main.Name = "Main"
Main.Parent = UI
Main.BackgroundColor3 = Color3.fromRGB(0, 0, 0)
Main.BackgroundTransparency = 0.300
Main.Position = UDim2.new(0.751388013, 0, 0.366871119, 0)
Main.Size = UDim2.new(0, 307, 0, 347)
Main.Active = true
Main.Draggable = true

UICorner.Parent = Main

TextLabel.Parent = Main
TextLabel.BackgroundColor3 = Color3.fromRGB(0, 0, 0)
TextLabel.BackgroundTransparency = 0.300
TextLabel.Size = UDim2.new(0, 307, 0, 50)
TextLabel.Font = Enum.Font.Sarpanch
TextLabel.Text = "Sputnik hacks"
TextLabel.TextColor3 = Color3.fromRGB(149, 16, 216)
TextLabel.TextScaled = true
TextLabel.TextSize = 14.000
TextLabel.TextStrokeTransparency = 0.000
TextLabel.TextWrapped = true

UICorner_2.Parent = TextLabel

Freeze.Name = "Freeze"
Freeze.Parent = Main
Freeze.BackgroundColor3 = Color3.fromRGB(32, 32, 32)
Freeze.Position = UDim2.new(0.0358306207, 0, 0.212189928, 0)
Freeze.Size = UDim2.new(0, 124, 0, 50)
Freeze.Font = Enum.Font.SourceSans
Freeze.Text = "Freeze all"
Freeze.TextColor3 = Color3.fromRGB(255, 255, 255)
Freeze.TextScaled = true
Freeze.TextSize = 14.000
Freeze.TextWrapped = true
Freeze.MouseButton1Down:connect(function()
	for i, v in pairs(game.Players:GetPlayers()) do
		game:GetService("ReplicatedStorage").WeaponItems.RemoteEvents.CreateSound:FireServer(v.Character.Humanoid)
	end
end)

UICorner_3.Parent = Freeze

Statue.Name = "Statue"
Statue.Parent = Main
Statue.BackgroundColor3 = Color3.fromRGB(32, 32, 32)
Statue.Position = UDim2.new(0.563517928, 0, 0.212189928, 0)
Statue.Size = UDim2.new(0, 124, 0, 50)
Statue.Font = Enum.Font.SourceSans
Statue.Text = "Dummy all"
Statue.TextColor3 = Color3.fromRGB(255, 255, 255)
Statue.TextScaled = true
Statue.TextSize = 14.000
Statue.TextWrapped = true
Statue.MouseButton1Down:connect(function()
	for i, v in pairs(game.Players:GetPlayers()) do
		game.ReplicatedStorage.WeaponItems.RemoteEvents.PlaceSentry:FireServer(v.Character)
	end
end)

UICorner_4.Parent = Statue

Hats.Name = "Hats"
Hats.Parent = Main
Hats.BackgroundColor3 = Color3.fromRGB(32, 32, 32)
Hats.Position = UDim2.new(0.563517928, 0, 0.456881613, 0)
Hats.Size = UDim2.new(0, 124, 0, 50)
Hats.Font = Enum.Font.SourceSans
Hats.Text = "Bald All"
Hats.TextColor3 = Color3.fromRGB(255, 255, 255)
Hats.TextScaled = true
Hats.TextSize = 14.000
Hats.TextWrapped = true
Hats.MouseButton1Down:Connect(function()
for i, v in pairs(game.Players:GetPlayers()) do
    for ii, vv in pairs(game:GetDescendants()) do
    if vv:IsA("Accessory") then
game:GetService("ReplicatedStorage").WeaponItems.RemoteEvents.PlaceSentry:FireServer(vv)
end
end
end
end)

UICorner_5.Parent = Hats

Weapons.Name = "Weapons"
Weapons.Parent = Main
Weapons.BackgroundColor3 = Color3.fromRGB(32, 32, 32)
Weapons.Position = UDim2.new(0.035830617, 0, 0.456881613, 0)
Weapons.Size = UDim2.new(0, 124, 0, 50)
Weapons.Font = Enum.Font.SourceSans
Weapons.Text = "Steal All Tools"
Weapons.TextColor3 = Color3.fromRGB(255, 255, 255)
Weapons.TextScaled = true
Weapons.TextSize = 14.000
Weapons.TextWrapped = true
Weapons.MouseButton1Down:Connect(function()
for i, v in pairs(game.Players:GetPlayers()) do
    for ii, vv in pairs(game:GetDescendants()) do
    if vv:IsA("Tool") then
game:GetService("ReplicatedStorage").WeaponItems.RemoteEvents.PlaceSentry:FireServer(vv)
end
end
end
end)

UICorner_6.Parent = Weapons

Crates.Name = "Crates"
Crates.Parent = Main
Crates.BackgroundColor3 = Color3.fromRGB(32, 32, 32)
Crates.Position = UDim2.new(0.0358306207, 0, 0.739414036, 0)
Crates.Size = UDim2.new(0, 124, 0, 50)
Crates.Font = Enum.Font.SourceSans
Crates.Text = "Spam Crates"
Crates.TextColor3 = Color3.fromRGB(255, 255, 255)
Crates.TextScaled = true
Crates.TextSize = 14.000
Crates.TextWrapped = true
Crates.MouseButton1Down:connect(function()
	while true do
		game:GetService("ReplicatedStorage").WeaponItems.RemoteEvents.CreateSound:FireServer(game.Workspace.Crates)
		wait()
	end
end)

UICorner_7.Parent = Crates

Blackhole.Name = "Blackhole"
Blackhole.Parent = Main
Blackhole.BackgroundColor3 = Color3.fromRGB(32, 32, 32)
Blackhole.Position = UDim2.new(0.563517928, 0, 0.739414036, 0)
Blackhole.Size = UDim2.new(0, 124, 0, 50)
Blackhole.Font = Enum.Font.SourceSans
Blackhole.Text = "Blackhole OP"
Blackhole.TextColor3 = Color3.fromRGB(255, 255, 255)
Blackhole.TextScaled = true
Blackhole.TextSize = 14.000
Blackhole.TextWrapped = true
Blackhole.MouseButton1Down:connect(function()
	while true do
		pcall(function()
			for i, v in pairs(game.Players:GetPlayers()) do
				game.ReplicatedStorage.WeaponItems.RemoteEvents.CreateRay:FireServer(0, v.Character.HumanoidRootPart.Position, v.Character.HumanoidRootPart.Position, "The Black Hole")
			end
		end)
		wait()
	end
end)

UICorner_8.Parent = Blackhole

TextLabel_2.Parent = Main
TextLabel_2.BackgroundColor3 = Color3.fromRGB(255, 255, 255)
TextLabel_2.BackgroundTransparency = 1.000
TextLabel_2.Position = UDim2.new(0.172638431, 0, 0.927953959, 0)
TextLabel_2.Size = UDim2.new(0, 200, 0, 19)
TextLabel_2.Font = Enum.Font.SourceSans
TextLabel_2.Text = "Commands/Script By Aurora UI By Kimchi"
TextLabel_2.TextColor3 = Color3.fromRGB(255, 255, 255)
TextLabel_2.TextScaled = true
TextLabel_2.TextSize = 18.000
TextLabel_2.TextWrapped = true

NextPage.Name = "NextPage"
NextPage.Parent = Main
NextPage.BackgroundColor3 = Color3.fromRGB(255, 255, 255)
NextPage.BackgroundTransparency = 1.000
NextPage.Position = UDim2.new(0.80130291, 0, 0.927953959, 0)
NextPage.Size = UDim2.new(0, 51, 0, 19)
NextPage.Font = Enum.Font.SourceSans
NextPage.Text = ">"
NextPage.TextColor3 = Color3.fromRGB(255, 255, 255)
NextPage.TextScaled = true
NextPage.TextSize = 16.000
NextPage.TextWrapped = true
NextPage.MouseButton1Down:Connect(function()
	script.Parent.Parent.Visible = false
	script.Parent.Parent.Parent.Page2.Visible = true
end)

Page2.Name = "Page2"
Page2.Parent = UI
Page2.BackgroundColor3 = Color3.fromRGB(0, 0, 0)
Page2.BackgroundTransparency = 0.300
Page2.Position = UDim2.new(0.750771165, 0, 0.366871178, 0)
Page2.Size = UDim2.new(0, 307, 0, 347)
Page2.Visible = false

UICorner_9.Parent = Page2

TextLabel_3.Parent = Page2
TextLabel_3.BackgroundColor3 = Color3.fromRGB(0, 0, 0)
TextLabel_3.BackgroundTransparency = 0.300
TextLabel_3.Size = UDim2.new(0, 307, 0, 50)
TextLabel_3.Font = Enum.Font.Sarpanch
TextLabel_3.Text = "Sputnik hacks"
TextLabel_3.TextColor3 = Color3.fromRGB(149, 16, 249)
TextLabel_3.TextScaled = true
TextLabel_3.TextSize = 14.000
TextLabel_3.TextStrokeTransparency = 0.000
TextLabel_3.TextWrapped = true

UICorner_10.Parent = TextLabel_3

LagServer.Name = "LagServer"
LagServer.Parent = Page2
LagServer.BackgroundColor3 = Color3.fromRGB(32, 32, 32)
LagServer.Position = UDim2.new(0.0358306207, 0, 0.212189928, 0)
LagServer.Size = UDim2.new(0, 124, 0, 50)
LagServer.Font = Enum.Font.SourceSans
LagServer.Text = "Lag Server"
LagServer.TextColor3 = Color3.fromRGB(255, 255, 255)
LagServer.TextScaled = true
LagServer.TextSize = 14.000
LagServer.TextWrapped = true
LagServer.MouseButton1Down:connect(function()
	while true do
		game:GetService("ReplicatedStorage").WeaponItems.RemoteEvents.CreateSound:FireServer(game.Workspace.Map)
		wait()
	end
end)

UICorner_11.Parent = LagServer

Back.Name = "Back"
Back.Parent = Page2
Back.BackgroundColor3 = Color3.fromRGB(255, 255, 255)
Back.BackgroundTransparency = 1.000
Back.Position = UDim2.new(0, 0, 0.927953899, 0)
Back.Size = UDim2.new(0, 63, 0, 25)
Back.Font = Enum.Font.SourceSans
Back.Text = "<"
Back.TextColor3 = Color3.fromRGB(255, 255, 255)
Back.TextScaled = true
Back.TextSize = 16.000
Back.TextWrapped = true
Back.MouseButton1Down:connect(function()
	script.Parent.Parent.Visible = false
	script.Parent.Parent.Parent.Main.Visible = true
end)

-- Scripts:

local function OWJR_fake_script() -- Freeze.LocalScript 
	local script = Instance.new('LocalScript', Freeze)

	print("Hello world!")
	
end
coroutine.wrap(OWJR_fake_script)()
local function NIOQY_fake_script() -- Statue.LocalScript 
	local script = Instance.new('LocalScript', Statue)

	script.Parent.MouseButton1Down:Connect(function()
		for i, v in pairs(game.Players:GetPlayers()) do
			game.ReplicatedStorage.WeaponItems.RemoteEvents.PlaceSentry:FireServer(v.Character)
		end
	end)
end
coroutine.wrap(NIOQY_fake_script)()
local function NPOC_fake_script() -- Hats.LocalScript 
	local script = Instance.new('LocalScript', Hats)

	print("Hello world!")
	
end
coroutine.wrap(NPOC_fake_script)()
local function TKDV_fake_script() -- Weapons.LocalScript 
	local script = Instance.new('LocalScript', Weapons)

	print("Hello world!")
	
end
coroutine.wrap(TKDV_fake_script)()
local function SKRGM_fake_script() -- Crates.LocalScript 
	local script = Instance.new('LocalScript', Crates)

	script.Parent.MouseButton1Down:Connect(function()
		while true do
			game:GetService("ReplicatedStorage").WeaponItems.RemoteEvents.CreateSound:FireServer(game.Workspace.Crates)
			wait()
		end
	end)
end
coroutine.wrap(SKRGM_fake_script)()
local function FOXWCJ_fake_script() -- Blackhole.LocalScript 
	local script = Instance.new('LocalScript', Blackhole)

	script.Parent.MouseButton1Down:Connect(function()
		while true do
			pcall(function()
				for i, v in pairs(game.Players:GetPlayers()) do
					game.ReplicatedStorage.WeaponItems.RemoteEvents.CreateRay:FireServer(0, v.Character.HumanoidRootPart.Position, v.Character.HumanoidRootPart.Position, "The Black Hole")
				end
			end)
			wait()
		end
	end)
end
coroutine.wrap(FOXWCJ_fake_script)()
local function ERLR_fake_script() -- NextPage.LocalScript 
	local script = Instance.new('LocalScript', NextPage)

	script.Parent.MouseButton1Down:Connect(function()
		script.Parent.Parent.Visible = false
		script.Parent.Parent.Parent.Page2.Visible = true
	end)
end
coroutine.wrap(ERLR_fake_script)()
local function YCZKHI_fake_script() -- LagServer.LocalScript 
	local script = Instance.new('LocalScript', LagServer)

	script.Parent.MouseButton1Down:Connect(function()
		while true do
			game:GetService("ReplicatedStorage").WeaponItems.RemoteEvents.CreateSound:FireServer(game.Workspace.Map)
			wait()
		end
	end)
end
coroutine.wrap(YCZKHI_fake_script)()
local function WONO_fake_script() -- Back.LocalScript 
	local script = Instance.new('LocalScript', Back)

	script.Parent.MouseButton1Down:Connect(function()
		script.Parent.Parent.Visible = false
		script.Parent.Parent.Parent.Main.Visible = true
	end)
end
coroutine.wrap(WONO_fake_script)()
